body {
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

div img {
  padding: 0;
  margin: 0;
  border: 0;
}

div#container {
  height: 100%;
  width: 100%;
  padding-top: 5.8%;
}

div#banner img {
  width: 100%;
}

div#social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

#social img {
  filter: grayscale(80%);
  width: 45px;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}
